<?xml version="1.0" encoding="utf-8"?>
	<!-- [OVERVIEW] Chocolatey configuration file.
	I install Chocolatey packages defined in this file:
	https://superuser.com/a/1132468/572069
	https://docs.chocolatey.org/en-us/choco/commands/install#packages.config

	[NOTE] Comments must be placed after XML declaration. Otherwise, error:
	“XML declaration allowed only at the start of the document”
	-->
	<packages>
		<!-- [INFO] “fd” — user-friendly alternative “find” command. See “travis-install.sh” for details.

		[INFO] “xargs” required for running “fd”. xargs exists and its path added to “%PATH%”
		by default on AppVeyor:
		https://ci.appveyor.com/project/Kristinita/sashaappveyordebugging/builds/48896902#L32
		-->
		<package id="fd" />

		<!-- [NOTE] Default Chocolatey installation adds 2 big dependencies:
		Chocolatey and VCRedist.
		https://github.com/majkinetor/au-packages/issues/75

		HTML Tidy successfully installed on my local machine and AppVeyor without these dependencies.
		So I installed html-tidy without dependencies.

		[INFO] Ignore dependencies in the Chocolatey config file:
		https://docs.chocolatey.org/en-us/choco/commands/install#packages.config


		[NOTE][BUG] The latest HTML Tidy versions remove line breaks inside a “pre” element.
		It’s a critical bug; downgrading HTML Tidy required.
		https://github.com/htacg/tidy-html5/issues/1006

		[INFO] 5.6.0 — the latest Chocolatey version of HTML Tidy without bug:
		https://community.chocolatey.org/packages/html-tidy#versionhistory


		[REQUIRED][INFO] “allowDowngrade” option if a newer version of HTML Tidy is already installed and cached.
		Otherwise failure:
		https://docs.chocolatey.org/en-us/choco/commands/install#options-and-switches
		https://ci.appveyor.com/project/Kristinita/sashaappveyordebugging/builds/48900105#L44

		[REQUIRED] camelCase: “allowDowngrade”, not “AllowDowngrade”
		[COMPARE]
		https://ci.appveyor.com/project/Kristinita/sashaappveyordebugging/builds/48900147
		https://ci.appveyor.com/project/Kristinita/sashaappveyordebugging/builds/48900136
		-->
		<package allowDowngrade="true" id="html-tidy" ignoreDependencies="true" version="5.6.0" />

		<!-- <package id="nodejs" /> -->

		<!-- <package id="shellcheck" /> -->
	</packages>
