[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pelican = "*"
markdown = "*"
pymdown-extensions = "*"
pyembed-markdown = "*"
markdown-newtab = {git = "https://github.com/andreykko/markdown-newtab.git", editable = true}
md-environ = "*"
markdown-blockdiag = "*"
pip-review = "*"

[requires]
python_version = "3.7"